[submodule "container"]
	path = container
	url = https://github.com/agrawald/mf-container.git
[submodule "tasks"]
	path = tasks
	url = https://github.com/agrawald/mf-tasks.git
[submodule "navbar"]
	path = navbar
	url = https://github.com/agrawald/mf-navbar.git
[submodule "notifications"]
	path = notifications
	url = https://github.com/agrawald/mf-notifications.git
