[submodule "ma-container"]
	path = ma-container
	url = https://github.com/agrawald/mf-container.git
[submodule "ma-tasks"]
	path = ma-tasks
	url = https://github.com/agrawald/mf-tasks.git
[submodule "ma-navbar"]
	path = ma-navbar
	url = https://github.com/agrawald/mf-navbar.git
[submodule "ma-notifications"]
	path = ma-notifications
	url = https://github.com/agrawald/mf-notifications.git
[submodule "ms-notifications"]
	path = ms-notifications
	url = https://github.com/agrawald/ms-notifications.git
[submodule "ms-notifications"]
	path = ms-tasks
	url = https://github.com/agrawald/ms-tasks.git
[submodule "lib-commons"]
	path = lib-commons
	url = https://github.com/agrawald/lib-commons.git
[submodule "infrastructure"]
	path = lib-commons
	url = https://github.com/agrawald/infrastructure.git